<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="birth" class="java.util.GregorianCalendar">
		<constructor-arg>
			<value type="int">1998</value>
		</constructor-arg>
		<constructor-arg>
			<value type="int">1</value>
		</constructor-arg>
		<constructor-arg>
			<value type="int">15</value>
		</constructor-arg>
	</bean>
		
	<bean id="person" class="di.xml.constructor.subtag.Male">
		<constructor-arg>
			<value>홍길동</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="birth"></ref>
		</constructor-arg>
	</bean>
	
<!-- 	<bean id="person" class="di.xml.constructor.subtag.Female"> -->
<!-- 		<constructor-arg> -->
<!-- 			<value>유관순</value> -->
<!-- 		</constructor-arg> -->
<!-- 		<constructor-arg> -->
<!-- 			<ref bean="birth"></ref> -->
<!-- 		</constructor-arg> -->
<!-- 	</bean> -->

</beans>