<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
	   https://www.springframework.org/schema/aop/spring-aop.xsd">
	   
	<bean id="businessLogic" class="aop.pojo.around.BusinessLogic"/>
	<bean id="customAdvice" class="aop.pojo.around.CustomAdvice"/>
	
	<aop:config>
		<aop:aspect id="customAspect" ref="customAdvice">
			<aop:pointcut id="customPointCut" expression="execution(public * aop.pojo.around.BusinessLogic.*(..))"/>
			<aop:around method="processing" pointcut-ref="customPointCut"/>
		</aop:aspect>
	</aop:config>
	
</beans>